{% load static %}


<footer class="dark-footer skin-dark-footer style-2">
				<div class="footer-middle">
					<div class="container">
						<div class="row">

							<div class="col-lg-5 col-md-5">
								<div class="footer_widget">
									<img src="{% static "assets/img/logo-light.png" %}" class="img-footer small mb-2" alt="" />
									<h4 class="extream mb-3 font-2">آیا به کمک تیم پشتیبانی<br>نیاز دارید؟</h4>
									<p>هر ماه با عضویت در خبرنامه ما از به‌روزرسانی‌ها، معاملات جدید، آموزش‌ها و تخفیف‌ها باخبر شوید.</p>
									<div class="foot-news-last">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="ایمیل">
											<div class="input-group-append">
												<button type="button" class="input-group-text theme-bg b-0 text-light">عضویت</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-7 ml-auto">
								<div class="row">

									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">صفحات</h4>
											<ul class="footer-menu">
												<li><a href="#">صفحه اصلی</a></li>
												<li><a href="#">درباره ما</a></li>
												<li><a href="#">خدمات</a></li>
												<li><a href="#">دوره های آموزشی</a></li>
												<li><a href="#">تماس با ما</a></li>
												<li><a href="#">لیست وبلاگ</a></li>
											</ul>
										</div>
									</div>

									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">تمام بخش ها</h4>
											<ul class="footer-menu">
												<li><a href="#">منو<span class="new">جدید</span></a></li>
												<li><a href="#">ویژگی های جذاب</a></li>
												<li><a href="#">المان ها<span class="new">جدید</span></a></li>
												<li><a href="#">نظرات کاربران</a></li>
												<li><a href="#">ویدئو</a></li>
												<li><a href="#">فوتر</a></li>
											</ul>
										</div>
									</div>

									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">لینک های مفید</h4>
											<ul class="footer-menu">
												<li><a href="#">درباره ما</a></li>
												<li><a href="#">وبلاگ</a></li>
												<li><a href="#">قیمت گذاری</a></li>
												<li><a href="#">ثبت نام</a></li>
												<li><a href="#">ورود به حساب</a></li>
												<li><a href="#">پشتیبانی <span class="update">بروزرسانی</span></a></li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">  ساخته شده با 💓 توسط مهدی رمضانی(رئیس انجمن علمی کامپیوتر) <a href="https://rtl-theme.com/"></a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>