{% load static %}

<script src="{% static "assets/js/jquery.min.js" %}"></script>
		<script src="{% static "vzassets/js/popper.min.js" %}"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/select2.min.js" %}"></script>
		<script src="{% static "assets/js/slick.js" %}"></script>
		<script src="{% static "assets/js/moment.min.js" %}"></script>
		<script src="{% static "assets/js/daterangepicker.js" %}"></script>
		<script src="{% static "assets/js/summernote.min.js" %}"></script>
		<script src="{% static "assets/js/metisMenu.min.js" %}"></script>
		<script src="{% static "assets/js/custom.js" %}"></script>